<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.unipassau.isl.evs.ssh.master"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MasterQRCodeActivity"
            android:label="@string/title_qrcode_activity">
            <intent-filter>
                <action android:name="android.intent.action.QRCODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MasterPreferenceActivity"
            android:exported="true"
            android:label="@string/title_activity_preferences">
        </activity>
        <activity
            android:name=".activity.RegisterLocalAppActivity"
            android:exported="true"
            android:label="@string/title_activity_register_local_app"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
            android:name=".activity.RegisterLocalSlaveActivity"
            android:exported="true"
            android:label="@string/title_activity_register_local_slave"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>

        <service android:name=".MasterContainer"/>

        <!-- Start Service on boot -->
        <receiver
            android:name=".OnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
