<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.unipassau.isl.evs.ssh.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/icon">
        <activity
            android:name="de.unipassau.isl.evs.ssh.app.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Überflüssig?
        <activity android:name=".activity.AddModulFragment" />
        <activity android:name=".activity.AddNewUserDeviceFragment" />
        <activity android:name=".activity.AppRegisterUserDeviceFragment" />
        <activity android:name=".activity.ClimateFragment" />
        <activity android:name=".activity.DoorFragment" />
        <activity android:name=".activity.HolidayFragment" />
        <activity android:name=".activity.ModifyPermissionFragment" />
        <activity android:name=".activity.OperateDoorFragment" />
        <activity android:name=".activity.StatusFragment" />
        -->
        <service android:name=".AppContainer" />
    </application>

</manifest>
