<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.unipassau.isl.evs.ssh.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.unipassau.isl.evs.ssh.app.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.AddModulActivity"/>
        <activity android:name=".activity.AddNewUserDeviceActivity"/>
        <activity android:name=".activity.AppRegisterUserDeviceActivity"/>
        <activity android:name=".activity.ClimateActivity"/>
        <activity android:name=".activity.DoorActivity"/>
        <activity android:name=".activity.HolidayActivity"/>
        <activity android:name=".activity.LightActivity"/>
        <activity android:name=".activity.ModifyPermissionActivity"/>
        <activity android:name=".activity.OperateDoorFragment"/>
        <activity android:name=".activity.StatusActivity"/>

        <service android:name=".AppContainer"/>
    </application>

</manifest>
